server:
  port: 8010
spring:
  application:
    name: microservice-feign-upload
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true