server:
  port: 9411
spring:  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
zipkin:
  storage:
    type: elasticsearch
    elasticsearch:
      cluster: elasticsearch
      hosts: http://localhost:9200
      index: zipkin
      index-shards: 5
      index-replicas: 1